<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkyGallary</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div>
        <div class="container mt-4">
            <h1 class="mb-4">SkyGallary Cloud Upload</h1>
            <div class="row">
                {% for photo in photos %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ photo.image.url }}" class="card-img-top" alt="{{ photo.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ photo.title }}</h5>
                            <p class="card-text">{{ photo.category }}</p> 
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>                      
      </div>
    </div>
</body>
</html>